:root{
    --color-pri:#242424;
    --color-sec:#555555;
    --text-shadow:.1rem .1rem .3rem#2c2c2c;
    --box-shadow:.1rem .1rem .3rem#0f0f0f;
}

* {
	padding: 0;
	margin: 0;
    box-sizing: border-box;
    font-family: 'Architects Daughter', cursive;
    transition: all .2s linear;
	scroll-behavior: smooth;
}

html{
    font-size: 62.5%;
	
}

body{
	min-height: 100vh;
    background: linear-gradient(110deg, #202020, #0e0e0e) ;
}

.big-con{
	width: 90%;
	height: 95vh;
	max-width: 1400px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	border-radius: 40px;
	box-shadow: 0 0 20px #000;
}

.big-con .cont-gral{
	width: 100%;
	height: 100%;
	overflow: auto;
	align-items: center;
}

::-webkit-scrollbar{
	display: none;
}

video{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
	z-index: -1;
}

.hero{
	
	background: rgba(0, 0, 0, 0.5);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    position: fixed;
    top: 0; left: 0;
    z-index: 1;
	overflow: hidden;
}

.hero .navbar{
	min-height: 60px;
	float: right;
	margin-right: 20px;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.hero .logo{
	float: left;
    font-size: 4rem;
    color: #fff;
    text-decoration: none;
    text-shadow:var(--text-shadow);
    text-decoration: none;
}

.navbar ul{

list-style: none;
display: flex;
align-items: center;
justify-content: space-around;
list-style: none;
}

.img-nav{
	width: 3rem;
	height: 3rem;
}

.navbar ul li {
	padding: 0;
	margin: 0 1rem;
}

.navbar ul li a{
	display: block;
	padding: .5em;
	font-size: 2rem;
	color: #fff;
	text-decoration: none;
    text-shadow:var(--text-shadow);
	filter: grayscale(100%);
}

.navbar ul li a:hover{
    color: var(--color-pri);
    letter-spacing: .2rem;
	filter: grayscale(0%);
}

#nav-toggle {
	position: absolute;
	top: -100px;
}
.navbar .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}
.navbar .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: #fff;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
	box-shadow:var(--box-shadow);
}

.login-box {
    
	width: 320px;
	height: 600px;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 70px 30px;
	border-radius: 20px;
    
  }
  
  .login-box .avatar {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
  }
  
  .login-box h1 {
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
  }
  
  .login-box label {
	margin: 0;
	padding: 0;
	font-weight: bold;
	display: flex;
  }
  
  .login-box input {
	width: 100%;
	margin-bottom: 20px;
  }
  
  .login-box input[type="text"], .login-box input[type="email"], .login-box input[type="date"], .login-box input[type="password"]  {
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
  }
  
  .login-box input[type="submit"] {
	border: none;
	outline: none;
	height: 40px;
	background: var(--color-sec);
	color: #fff;
	text-shadow: var(--text-shadow);
	font-size: 18px;
	border-radius: 20px;
  }
  
  .login-box input[type="submit"]:hover {
	cursor: pointer;
	backgroun:var(--color-pri);
	color:var(--color-pri);
	letter-spacing: 2px;
  }
  
  .login-box a {
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: darkgrey;
  }
  
  .login-box a:hover {
	color: #fff;
  }

@media screen and (max-width: 990px) {
	
	.navbar .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 100px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: #313131b4;
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
	.navbar .links a {
		font-size: 20px;
	}
	.navbar :checked ~ .links {
		bottom: 0;
	}
	.navbar .icon-burger {
		display: block;
	}
	.navbar :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	.navbar :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	.navbar :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}