:root{
    --color-pri:#242424;
    --color-sec:#555555;
    --text-shadow:.1rem .1rem .3rem#2c2c2c;
    --box-shadow:.1rem .1rem .3rem#0f0f0f;
}

* {
	padding: 0;
	margin: 0;
    box-sizing: border-box;
    font-family: 'Architects Daughter', cursive;
    transition: all .2s linear;
	scroll-behavior: smooth;
}

html{
    font-size: 62.5%;
	
}

body{
	min-height: 100vh;
    background: linear-gradient(110deg, #202020, #0e0e0e) ;
}

.big-con{
	width: 90%;
	height: 95vh;
	max-width: 1400px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	border-radius: 40px;
	box-shadow: 0 0 20px #000;
}

.big-con .cont-gral{
	width: 100%;
	height: 100%;
	overflow: auto;
	align-items: center;
}

::-webkit-scrollbar{
	display: none;
}

video{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
	z-index: -1;
}

.hero{
	
	background: rgba(0, 0, 0, 0.5);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    position: fixed;
    top: 0; left: 0;
    z-index: 1;
	overflow: hidden;
}

.hero .navbar{
	min-height: 60px;
	float: right;
	margin-right: 20px;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.hero .logo{
	float: left;
    font-size: 4rem;
    color: #fff;
    text-decoration: none;
    text-shadow:var(--text-shadow) ;
}

.navbar ul{

list-style: none;
display: flex;
align-items: center;
justify-content: space-around;
list-style: none;
}

.img-nav{
	width: 3rem;
	height: 3rem;
}


	


.navbar ul li {
	padding: 0;
	margin: 0 1rem;
}

.navbar ul li a{
	display: block;
	padding: .5em;
	font-size: 2rem;
	color: #fff;
	text-decoration: none;
    text-shadow:var(--text-shadow);
	filter: grayscale(100%);
}

.navbar ul li a:hover{
    color: var(--color-pri);
    letter-spacing: .2rem;
	filter: grayscale(0%);
}

#nav-toggle {
	position: absolute;
	top: -100px;
}
.navbar .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}
.navbar .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: #fff;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
	box-shadow:var(--box-shadow);
}

.container{
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
}
.container .content{
	margin-top: 8em;
	display: flex;
	text-align: center;
	text-shadow:var(--text-shadow);
	flex-direction: column;
	justify-content: center;
}

.container .content .cont-tit span {
	filter: grayscale(100%);
	font-weight: bold;
	font-size: 12rem;
	position: relative;
	cursor: pointer;
	transition: all 300ms ease-in-out;
	
  }
 .container .content .cont-tit span::before {
	content: var(--l);
	position: absolute;
	transform: scale(1.1);
	filter: blur(50px);
  }
 
 .container .content .cont-tit span:hover {
	filter: contrast(250%);
  }
 .container .content .cont-tit span:nth-child(1) {
	color: #00bef8;
  }
 .container .content .cont-tit span:nth-child(2) {
	color: #4dff06;
  }
 .container .content .cont-tit span:nth-child(3) {
	color: #ff0095;
  }
 .container .content .cont-tit span:nth-child(4) {
	color: #ff5e00;
  }


.container .content h3{
	margin-top: 1rem;
	margin-bottom: 1.2rem;
	font-size: 4rem;
	color: #fff;
	text-shadow:var(--text-shadow);
}

.container .content button{
	margin: 1rem;
	outline: none;
	border: none;
	border-radius: 5rem;
	height: 4rem;
	width: 12rem;
	background-color: var(--color-sec);
	cursor: pointer;
	font-size: 1.5rem;
	color: #fff;
	box-shadow: var(--box-shadow);
}

.container .content button:hover{
	background: var(--color-pri);
	letter-spacing: .2rem;
}

.container .content p{
	margin-top: 1rem;
}

p{
	font-size: 2rem;
	text-align: center;
	color: #fff;
	text-decoration: none;
}
.container .content i{
	margin-left: 2rem;
	margin-top: 2rem;
	font-size: 4rem;
	height: 4rem;
	width: 4rem;
	line-height: 4rem;
	text-align: center;
	border-radius: 5rem;
	color: #fff;
	text-decoration: none;
	
}

.container .content i:hover{
	color: var(--color-pri);
	transform: scale(1.2);
}


.titulo{
	color: #fff;
	text-shadow: var(--text-shadow) ;
    font-weight: 300;
    font-size: 6rem;
    text-align: center;
    margin-bottom: 30px;
}

.titulo.left{
    text-align: left;
}

.titulo.right{
    text-align: right;
}


.website{
	margin-top: 20rem;
	margin-bottom: 20rem;
    display: flex;
    justify-content: space-between;
	background: rgba(0, 0, 0, 0.5);
	filter: grayscale(100%);
}
.website:hover{
	filter: grayscale(0%);
}
.website img{
	margin: 3rem;
	height: 48%;
	width: 48%;
	box-shadow: var(--box-shadow);
	border-radius: 10px;
	cursor: pointer;
}

.website .contenedor-textos-main{
    width: 40%;
}

.parrafo{
    text-align: center;
    text-shadow: var(--text-shadow);
}


.card-cont{
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, .5);
}	

.content-cards{
	align-items: center;
	justify-content: center;
	display: flex;
    width: 100%;
    grid-template-columns: repeat(auto-fit,minmax(290px,1fr));
	grid-gap: 20px;
	padding: 20px;
}

.content-cards .card{
	width: 25%;
	position: relative;
    height: 400px;
    text-align: center;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    transform: scale(1);
    transition: transform 0.6s;
	overflow: hidden;
	filter: grayscale(100%);
	border-radius: 10px;
	background: rgba(0, 0, 0, .5);
}

.content-cards .card::before{
	position: absolute;
	content: "";
	top: 99%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #da1668;
	background-image: linear-gradient(315deg,#ff5e00 0%,#da1668 100%);
	transition: 0.4s;
	opacity: 0%;
}

.content-cards .card:hover::before{
	top: 50%;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    transform: scale(1.03);
    cursor: pointer;
	opacity: 100%;

}
.content-cards .card:hover{
	filter: grayscale(0%);
	transition: 0.4s;
	cursor: pointer;
}
.content-cards .card .imgbox{
	width: 100%;
	height: 50%;
	
}

.content-cards .card .imgbox img{
	width: 100%;
	height: 100%;
	object-fit:cover;
	top: 0;
	left: 0;
}

.content-cards .card .cont-card-txt::before{
	position: absolute;
	content: "";
	top: 99%;
	left: 0;
	width: 100%;
	height: 100%;
}


.content-cards .card h3{
	position: relative;
	font-size: 2rem;
	color: #fff;
	text-shadow: var(--text-shadow);
	transition: 0.4s;
}

.content-cards .card p{
	position: relative;
    font-size: 1rem;
    margin-bottom: 10px;
}

.content-cards .cta{
	position: relative;
	margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow:var(--box-shadow);
    background:var(--color-sec);
    border-radius:20px;
    border:none;
    cursor:pointer;
    color:#fff;
    font-size:15px;
    font-weight:bold;
    padding:6px 6px;
    text-decoration:none;
    text-shadow:var(--text-shadow);
	
}

.content-cards .cta:hover{
	background: var(--color-pri);
	letter-spacing: .2rem;
}

footer{
	margin-top: 20rem;
    background: rgba(0, 0, 0, .5);
    color: #fff;
	
}

.form{
	font-family: 'Architects Daughter';
	margin: 0 4rem;
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input{
    background: transparent;
    border: 0;
    color: #fff;
    outline: none;
    border: 1px  solid #fff;
    padding: 20px 10px;
}

.input::placeholder{
    color: #fff;
    
}

input[type="text"], 
input[type="email"]{
    display: inline-block;
    width: 49%;
    margin-bottom: 30px;
	border-radius: 20px;
}

.form textarea{
    width: 100%;
    margin-bottom: 15px;
	border-radius: 20px;
}

input[type="submit"]{
	font-size: 1.5rem;
    width: 120px;
    text-align: center;
    padding: 14px 0;
	margin-bottom: 2rem;
	border-radius: 20px;
}

input[type="submit"]:hover{
    cursor: pointer;
    color: var(--color-pri);
    background: #fff;
	letter-spacing: .2rem;
}

@media screen and (max-width: 1024px){

	.content-cards .card{
		width: 50%;
		flex-direction: column;
		height: 400px;
		
	}
	.content-cards{
		flex-direction: column;
	}
}

@media screen and (max-width: 990px) {
	
	.navbar .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 100px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: #313131b4;
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
	.navbar .links a {
		font-size: 20px;
	}
	.navbar :checked ~ .links {
		bottom: 0;
	}
	.navbar .icon-burger {
		display: block;
	}
	.navbar :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	.navbar :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	.navbar :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}
	
	
}

.textos-hero h1{
	text-align: center;
	font-size: 50px;
}

.titulo{
	font-size: 3rem;
}

.titulo.left{
	text-align: center;
}

p{
	font-size: 2rem;
	
}

.website{
	justify-content: center;
	align-items: center;
}



.website img{
	width: 48%;
}

.website .contenedor-textos-main{
	width: 40%;
}



@media screen and (max-width: 720px) {
	.container .content .cont-tit span{
		font-size: 5rem;
	}

	.container .content h3{
		font-size: 1.5rem;
	}
	.container .content button{
		height: 4rem;
		width: 15rem;
		font-size: 1.5rem;
		
	}

	.website{
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
	}

	.content-cards{
		flex-direction: column;
        width: 90%;
        margin-bottom: 20px;
		
    }

}

@media screen and (max-width: 500px) {
	
	header .logo{
		font-size: 2rem;
	}

	.container .content button{
		height: 3rem;
		width: 10rem;
		font-size: 1rem;
		
	}
	.card{
		
        width: 90%;
        margin-bottom: 20px;
    }

   
}

@media screen and (max-width: 450px){
	.hero .logo{
		font-size: 2rem;
	}

	.content-cards .card{
		height: 600px;
		width: 90%;

	}
}